USE [SWD392]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 2/28/2026 9:59:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[conversation_id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_conversations] PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[conversations] ON 

INSERT [dbo].[conversations] ([conversation_id], [buyer_id], [status]) VALUES (1, 1, N'OPEN')
INSERT [dbo].[conversations] ([conversation_id], [buyer_id], [status]) VALUES (2, 2, N'CLOSED')
SET IDENTITY_INSERT [dbo].[conversations] OFF
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK_conversations_buyer] FOREIGN KEY([buyer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK_conversations_buyer]
GO
