USE [SWD392]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2/28/2026 9:59:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[img_url] [varchar](2048) NULL,
	[category] [nvarchar](100) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [name], [description], [price], [stock_quantity], [status], [img_url], [category]) VALUES (1, N'Wireless Mouse', N'Ergonomic wireless mouse', CAST(499000.00 AS Decimal(10, 2)), 98, N'ACTIVE', N'https://m.media-amazon.com/images/I/61LtuGzXeaL._AC_SL1500_.jpg', N'Accessories')
INSERT [dbo].[products] ([product_id], [name], [description], [price], [stock_quantity], [status], [img_url], [category]) VALUES (2, N'Mechanical Keyboard', N'RGB mechanical keyboard', CAST(1999000.00 AS Decimal(10, 2)), 49, N'ACTIVE', N'https://m.media-amazon.com/images/I/71kr3WAj1FL._AC_SL1500_.jpg', N'Accessories')
INSERT [dbo].[products] ([product_id], [name], [description], [price], [stock_quantity], [status], [img_url], [category]) VALUES (3, N'USB-C Cable', N'Fast charging cable', CAST(249000.00 AS Decimal(10, 2)), 199, N'ACTIVE', N'https://m.media-amazon.com/images/I/61IMRs+o0iL._AC_SL1500_.jpg', N'Accessories')






SET IDENTITY_INSERT [dbo].[products] OFF
GO
